body {
  font-family: 'Bungee', sans-serif;
}

a {
  color: black !important;
}

a:hover:before {
  content: "▶";
  display: inline-block;
}

/* Header */
header {
  width:auto ;
  height: 400px;
  background-image: url(images/header-background-cloud.jpg);
  background-size: cover;
  background-position: center;
}

header img {
  height: 150px;
  width: auto;
  box-shadow: 10px 10px 0px 0 rgba(80, 80, 80, 0.8);
}

/* Navbar */
.border-double {
  border-style: double;
  border-color: black;
  border-width: 10px;
}

/* About Me */
.aboutMe-photo {
  padding-top: 12px;
  padding-bottom: 12px;
}

.aboutMe-photo img {
  max-width: 100%;
  max-height: 100%;
}

.aboutMe-text p {
  font-family: 'Zen Dots', sans-serif;
}

.skill-item {
  font-size: 55px;
  text-align: center;
}

.skill-item p {
  font-family: 'Zen Dots', sans-serif;
  font-size: 10px;
}
